@import './config.scss';

.btn-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: $primary;
    background-color: $dark-background;
}

.button {
    background-color: $dark-background;
    align-self: center;
    transition: background 400ms ease-in-out;

    &:hover {
        background-color: #333;
    }
}

.outline-btn {
    border: 2px solid black;
    transition: background 400ms ease-in-out,
        color 400ms ease-in-out;
}

.delete {
    border-color: $delete-btn;

    &:hover {
        background: $delete-btn;
        color: white;
    }
}

.update {
    border-color: $update-btn;

    &:hover {
        background: $update-btn;
        color: white;
    }
}

.done {
    border-color: $done-btn;

    &:hover {
        background: $done-btn;
        color: white;
    }
}