@import './config.scss';

.btn-floating {
    position: fixed;
    bottom: $md-size;
    right: $md-size;
    color: $primary-color;
    background-color: $dark-background;
}

.button {
    background-color: $btn-primary;
    align-self: center;
}


.outline-btn {
    @include buttons(black);
    color: #eee;
}

.danger-btn {
    @include buttons($btn-danger);
}

.success-btn {
    @include buttons($btn-success);
}