$primary-color:#f87060;
$dark-background:#4a4a4a;
$light-background:#f8f8f8;

$btn-danger:#ff0000;
$btn-primary:$dark-background;
$btn-success:green;

$cards-background:#eee;
$pending-homework:$primary-color;
$due-homework:#cccc0d;

$sm-size:0.8rem;
$md-size:1.2rem;
$lg-size:1.7rem;
$xlg-size:2.2rem;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navHover {
    color: $light-background;
    transition: color 400ms ease-in-out;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

@mixin buttons($color) {
    background-color: rgba($color: $color, $alpha: 0.8);
    transition: background 400ms ease-in-out;
    &:hover {
        background: $color;
    }
}

@mixin grid($repeat,$size) {
    display: grid;
    grid-template-columns: repeat($repeat,$size);
}