$primary-color:#f87060;
$dark-background:#4a4a4a;
$light-background:#f8f8f8;
$btn-danger:#ff0000;
$btn-primary:$dark-background;
$btn-primary-hover:#222;
$btn-success:green;
$cards-background:#eee;
$pending-homework:$primary-color;
$due-homework:#cccc0d;
$done-homework:green;
$sm-size:0.8rem;
$md-size:1.2rem;
$lg-size:1.7rem;
$xlg-size:2.2rem;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navHover {
    color: $light-background;
    transition: color 400ms ease-in-out;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

@mixin buttons($color) {
    border: 2px solid $color;
    transition: background 400ms ease-in-out,
    color 400ms ease-in-out;
    &:hover {
        background: $color;
        color: white;
    }
}