@import './theme/config.scss';

.addHomework {
    opacity: 0;
    animation: showPopup 400ms ease-in-out forwards;
    background-color: rgba($color: #000000, $alpha: 0.6);
    transition: opacity 400ms ease-in-out;

    @keyframes showPopup {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .addHomework-form {
        background-color: $light-background;
        width: 50vw;
        min-width: 300px;
        position: relative;

        .close-icon {
            position: absolute;
            top: 2px;
            right: 10px;
            cursor: pointer;
        }

        input,
        select {
            &:focus {
                background-color: #eee;
            }
        }

        input[type="file"] {
            max-width: 200px;
        }
    }

    @media(max-width:500px) {
        .addHomework-form {
            transform: scale(0.9);
        }
    }
}

.hide {
    opacity: 0;
    display: none;
}