@import './theme/config.scss';

.section {
    .part {
        border:1px solid $light-background;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
        background-color: #fff;
        color:$primary;
        padding-left: 2em;
        transition: background 400ms ease-in-out;
    }
}
@media(max-width:500px) {
    .section {
        margin: 1em 0;
        .part {
            padding-left: 1em;
        }
    }
}