@import './theme/config.scss';

.section {
    margin: $xlg-size $md-size;
    padding: $xlg-size;
    position: relative;
    background-color: $light-background;

    .part {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        border-left: $sm-size solid $pending-homework !important;
    }

    .tags {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        padding-bottom: $sm-size;
        color: #000;
        font-weight: bold;
    }

    .due {
        border-left-color: $due-homework !important;
    }

    .done {
        border-left-color: $done-homework !important;
    }
}